In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df_maize=pd.read_csv('Unprocessed Data.csv')
df_maize

,State,Year,Nitrogen (%),Nitrogen (Kilograms/Hectars),Phosphorous (%),Phosphorous (Kilograms/Hectars),Potash (%),Potash (Kilograms/Hectars),Area Planted (Hectars),Harvested Area (Hectars),Lint Yield (Kilograms/Harvested Hectars)
0,Gaborone,2010,99.0,72.0,100.0,62.0,99.0,63.0,NaN,NaN,NaN
1,Gaborone,2011,100.0,81.0,100.0,63.0,100.0,66.0,NaN,NaN,NaN
2,Gaborone,2012,100.0,83.0,100.0,69.0,100.0,70.0,NaN,NaN,NaN
3,Gaborone,2013,100.0,78.0,100.0,71.0,100.0,73.0,NaN,NaN,NaN
4,Gaborone,2014,100.0,71.0,99.0,71.0,99.0,73.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
751,Francistown,2013,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,4500.0,610.0
752,Francistown,2014,NaN,NaN,NaN,NaN,NaN,NaN,5650.0,5200.0,748.0
753,Francistown,2015,66.0,65.0,46.0,34.0,16.0,14.0,7000.0,5500.0,809.0
754,Francistown,2016,NaN,NaN,NaN,NaN,NaN,NaN,7750.0,4350.0,756.0
755,Francistown,2017,68.0,77.0,52.0,37.0,25.0,20.0,7050.0,6000.0,568.0

In [3]:
df_cmaize=df_maize.fillna(df_maize.groupby('State').transform('mean'))

In [4]:
df_maize

,State,Year,Nitrogen (%),Nitrogen (Kilograms/Hectars),Phosphorous (%),Phosphorous (Kilograms/Hectars),Potash (%),Potash (Kilograms/Hectars),Area Planted (hectars),Harvested Area (hectars),Sorghum Yield (Kilograms/Harvested Hectars)
0,Gaborone,2010,99.00000,72.000000,100.000000,62.00000,99.0,63.000000,419.355556,407.822222,644.688889
1,Gaborone,2011,100.00000,81.000000,100.000000,63.00000,100.0,66.000000,419.355556,407.822222,644.688889
2,Gaborone,2012,100.00000,83.000000,100.000000,69.00000,100.0,70.000000,419.355556,407.822222,644.688889
3,Gaborone,2013,100.00000,78.000000,100.000000,71.00000,100.0,73.000000,419.355556,407.822222,644.688889
4,Gaborone,2014,100.00000,71.000000,99.000000,71.00000,99.0,73.000000,419.355556,407.822222,644.688889
...,...,...,...,...,...,...,...,...,...,...,...
751,Francistown,2013,58.72093,57.232558,44.744186,40.55814,19.0,17.581395,4800.000000,4500.000000,610.000000
752,Francistown,2014,58.72093,57.232558,44.744186,40.55814,19.0,17.581395,5650.000000,5200.000000,748.000000
753,Francistown,2015,66.00000,65.000000,46.000000,34.00000,16.0,14.000000,7000.000000,5500.000000,809.000000
754,Francistown,2016,58.72093,57.232558,44.744186,40.55814,19.0,17.581395,7750.000000,4350.000000,756.000000
755,Francistown,2017,68.00000,77.000000,52.000000,37.00000,25.0,20.000000,7050.000000,6000.000000,568.000000

In [5]:
mapping = ({'Gaborone':1,
'Maun':2,
'Palapye':3,
'Patayamatebele.':4,
'Kasane':5,
'Matsiloje':6,
'Rasesa':7,
'Kang':8,
'Serowe':9,
'Mochudi':10,
'Tati Siding':11,
'Borolong':12,
'Moshupa0-0ee':13,
'Francistown':14,
           })
df_maize=df_maize.replace({'State': mapping})

In [24]:
x=df_maize.drop({'Nitrogen (Kilograms/Hectar)','Phosphorous (Kilograms/Hectar)','Potash (Kilograms/Hectar)'},axis=1)
y=df_maize.drop({'State','Year','Area Planted (hectars)','Harvested Area (hectars)','Sorghum Yield (Kilograms/Harvested Hectar)','Nitrogen (%)','Phosphorous (%)','Potash (%)'},axis=1)
x

,State,Year,Nitrogen (%),Phosphorous (%),Potash (%),Area Planted (hectars),Harvested Area (hectars),Sorghum Yield (Kilograms/Harvested Hectars)
0,1,2010,99.00000,100.000000,99.0,419.355556,407.822222,644.688889
1,1,2011,100.00000,100.000000,100.0,419.355556,407.822222,644.688889
2,1,2012,100.00000,100.000000,100.0,419.355556,407.822222,644.688889
3,1,2013,100.00000,100.000000,100.0,419.355556,407.822222,644.688889
4,1,2014,100.00000,99.000000,99.0,419.355556,407.822222,644.688889
...,...,...,...,...,...,...,...,...
751,14,2013,58.72093,44.744186,19.0,4800.000000,4500.000000,610.000000
752,14,2014,58.72093,44.744186,19.0,5650.000000,5200.000000,748.000000
753,14,2015,66.00000,46.000000,16.0,7000.000000,5500.000000,809.000000
754,14,2016,58.72093,44.744186,19.0,7750.000000,4350.000000,756.000000
755,14,2017,68.00000,52.000000,25.0,7050.000000,6000.000000,568.000000

In [25]:
y

     Nitrogen (Kilograms/Hectar)  Phosphorous (Kilograms/Hectar)  Potash (Kilograms/Hectar)
0                 72.000000                   62.00000             63.000000
1                 81.000000                   63.00000             66.000000
2                 83.000000                   69.00000             70.000000
3                 78.000000                   71.00000             73.000000
4                 71.000000                   71.00000             73.000000
..                      ...                        ...                   ...
751               57.232558                   40.55814             17.581395
752               57.232558                   40.55814             17.581395
753               65.000000                   34.00000             14.000000
754               57.232558                   40.55814             17.581395
755               77.000000                   37.00000             20.000000

[756 rows x 3 columns]

# Model Implementation - Multi variate Regression

In [8]:
from sklearn.datasets import make_regression
print(x.shape, y.shape)

(756, 8) (756, 3)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,z_train,z_test=train_test_split(x,y,test_size=0.2) #80% for Training and 20% for Testing
print(x_train.shape,x_test.shape,z_train.shape,z_test.shape)
from sklearn import ensemble
from sklearn.multioutput import MultiOutputRegressor
estimator = MultiOutputRegressor(ensemble.GradientBoostingRegressor())
estimator.fit(x_train,z_train)

(604, 8) (152, 8) (604, 3) (152, 3)

MultiOutputRegressor(estimator=GradientBoostingRegressor())

In [19]:
estimator.score(x_test,z_test)

0.8111462208784431

In [20]:
estimator.score(x_train,z_train)

0.9317679459921022

In [26]:
n_input=[[1,1964,99.00000,100.000000,99.0,419.355556,407.822222,644.688889]]
n_output=estimator.predict(n_input)
n_output

array([[73.09935564, 69.73189847, 71.80451023]])